@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan/YekanBakhFaNum-Light.woff2') format('woff2'),
        url('../fonts/Yekan/YekanBakhFaNum-Light.woff') format('woff'),
        url('../fonts/Yekan/YekanBakhFaNum-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan/YekanBakhFaNum-Regular.woff2') format('woff2'),
        url('../fonts/Yekan/YekanBakhFaNum-Regular.woff') format('woff'),
        url('../fonts/Yekan/YekanBakhFaNum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan/YekanBakhFaNum-SemiBold.woff2') format('woff2'),
        url('../fonts/Yekan/YekanBakhFaNum-SemiBold.woff') format('woff'),
        url('../fonts/Yekan/YekanBakhFaNum-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan/YekanBakhFaNum-Bold.woff2') format('woff2'),
        url('../fonts/Yekan/YekanBakhFaNum-Bold.woff') format('woff'),
        url('../fonts/Yekan/YekanBakhFaNum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Modam';
    src: url('../fonts/Modam/ModamFaNumWeb-Regular.woff2') format('woff2'),
        url('../fonts/Modam/ModamFaNumWeb-Regular.woff') format('woff'),
        url('../fonts/Modam/ModamFaNum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Modam';
    src: url('../fonts/Modam/ModamFaNumWeb-Bold.woff2') format('woff2'),
        url('../fonts/Modam/ModamFaNumWeb-Bold.woff') format('woff'),
        url('../fonts/Modam/ModamFaNum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.product-category-splide .splide__pagination{
    margin-top: 20px;
}

.product-category-splide .splide__pagination button {
    width: 5px;
    height: 5px;
    background: #bbb;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: all .2s linear;
}

.product-category-splide .splide__pagination button.is-active {
    width: 20px;
    background: #2d30f7;
}



.promotion-splide .splide__pagination li {
    line-height: 5px;
}

.promotion-splide .splide__pagination button {
    width: 5px;
    height: 5px;
    background: #bbb;
    border-radius: 5px;
    transition: all .2s linear;
}

.promotion-splide .splide__pagination button.is-active {
    height: 20px;
    background: #2d30f7;
}



.blog-splide .splide__pagination button {
    width: 40px;
    height: 8px;
    background: #fff;
    opacity: .4;
    border-radius: 5px;
    transition: all .2s linear;
}

.blog-splide .splide__pagination button.is-active {
    opacity: 1;
}



/* start branches styles  */
.branches-map-wrapper{
    height: 360px;
}
@media screen and (min-width:768px) {            
    .branches-map-wrapper{
        height: 700px;
    }
}
@media screen and (min-width:1024px) {            
    .branches-map-wrapper{
        height: 850px;
    }
}
.branches-splide.splide .splide__pagination li {
    line-height: 5px;
}

.branches-splide.splide .splide__pagination button {
    width: 7px;
    height: 7px;
    background: #bbb;
    border-radius: 5px;
    transition: all .2s linear;
}

.branches-splide.splide .splide__pagination button.is-active {
    width: 25px;
    background: #2d30f7;
}
.branches-map-wrapper .leaflet-tile-container.leaflet-zoom-animated {
    filter: grayscale(1);
}
/* end branches styles  */


/* start contact styles */
.contact-page-map{
    height: 110vw;
}
@media screen and (min-width:500px) {            
    .contact-page-map{
        height: 500px;
    }
}
@media screen and (min-width:768px) {            
    .contact-page-map{
        height: 630px;
    }
}
@media screen and (min-width:1280px) {            
    .contact-page-map{
        height: 770px;
    }
}
.contact-page-map .leaflet-tile-container.leaflet-zoom-animated {
    filter: grayscale(.4);
}
/* end contact styles */


/* start product single style */
@media screen and (max-width:767px) {
    .thumbnail-carousel {
        max-width: calc(100vw - 65px);
    }
}
/* end product single style */